<div class="main">
<h1 class="sitnavH1">Country wise Covid19 cases</h1>
<div class="col-md-12">
<p-table  [value]="countryObj.countries_stat" [scrollable]="true" scrollHeight="350px"  [paginator]="true" [rows]="10" >
        <ng-template pTemplate="caption">
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="ui-column-filter">
            </ng-template>
 <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Country</th>
            <th>Cases</th>
            <th>Deaths</th>
            <th>Recovered</th>
            <th>Active Cases</th>
            <th>New Cases</th>
        </tr>
    </ng-template>
<ng-template pTemplate="body"  >
        <tr *ngFor="let col of countryObj.countries_stat"   >
            <td >{{col.country_name}}</td>
            <td>{{col.cases}}</td>
            <td>{{col.deaths}}</td>
            <td>{{col.total_recovered}}</td>
            <td>{{col.active_cases}}</td>
            <td>{{col.new_cases}}</td>
        </tr>
      
</ng-template>
</p-table>
</div> 
</div>