<div class="main">
<div class="col-md-12">
<h1 class="sitnavH1">Country wise Covid19 cases</h1>
<p-table  [value]="countryObj.countries_stat" [scrollable]="true" scrollHeight="350px"  [paginator]="true" [rows]="10">
  
 <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Country</th>
            <th>Cases</th>
            <th>Deaths</th>
            <th>Recovered</th>
            <th>Active Cases</th>
            <th>New Cases</th>
        </tr>
    </ng-template>
<ng-template pTemplate="body"  >
        <tr *ngFor="let col of countryObj.countries_stat"   >
            <td >{{col.country_name}}</td>
            <td>{{col.cases}}</td>
            <td>{{col.deaths}}</td>
            <td>{{col.total_recovered}}</td>
            <td>{{col.active_cases}}</td>
            <td>{{col.new_cases}}</td>
        </tr>
      
</ng-template> 
<!-- <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
        <td  *ngFor="let col of countryObj.countries_stat">
            {{rowData[col.field]}}
        </td>
    </tr>
</ng-template> -->
</p-table>

</div> 
</div>