<!-- <div class="topnav" id="myTopnav">
        <a class="topnav a" >
           <img src="assets/images/logo.png" alt="logo" style="width:45px;">CORONA TRACKER
          </a>
     
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

<div class="sidenav" id="mysidenav">
    <a routerLink="/globalcount" > Global Count</a><br>
    <a routerLink="/countrycount">Country Count</a>
</div> -->
<div class="col-md-12">

<div class="topnav" id="myTopnav">
    <ul>
       
    <li class="bars"><i id="main1" (click)="openNav()" class="pi pi-bars"></i></li>
    <li  class="maincontentheading" ><img  routerLink="/home" src="assets/images/logo.png" alt="logo" style="width:45px;" >CORONA TRACKER</li>
      
    </ul>
 </div>

<div class="sidebar1">
  
    <span  class="closebtn" (click)="closeNav()"> &larr; </span>
    <a routerLink="/globalcount" > Global Count</a><br>
    <a routerLink="/countrycount">Country Count</a>
  </div>

  <div id="mySidebar2" class="sidebar2">
      <span  class="closebtn" (click)="closeNav()"> &larr; </span>
      <a routerLink="/globalcount" > Global Count</a><br>
      <a routerLink="/countrycount">Country Count</a>
    </div>
  </div>

<router-outlet></router-outlet>
